<div class="preview-box-platform" data-id="10112018-18356">
    <a href="/seminars/132527-nikolay-ii-semya-i-prestol"
       class="preview-box-platform-link"><img
            class="preview-box-platform-img tnp-relap-img-wrapper"
            data-original="https://storage.theoryandpractice.ru/tnp/uploads/image_unit/000/115/811/image/seminar_item_51b8ed25d8.jpg"/>
        <div class="tnp-relap-separator"></div>
        <div class="preview-box-platform-textwrapper">
            <div class="preview-box-platform-uptitle font-size-uptitle-small" data-views-append="132527">10 ноября,
                10:00
            </div>
            <div class="preview-box-platform-title">«Николай II. Семья и&nbsp;престол»</div>
            <div class="preview-box-platform-organization">
                <div class="preview-box-platform-organization-img-wrapper"><img alt="Государственный исторический музей"
                                                                                class="preview-box-platform-organization-img"
                                                                                data-original="https://storage.theoryandpractice.ru/tnp/uploads/image_logo/000/035/275/image/base_05c8187bc2.jpg"/>
                </div>
                <div class="preview-box-platform-organization-name font-size-descr">Государственный исторический музей
                </div>
            </div>
            <div class="preview-box-platform-bottom">
                <div class="preview-box-platform-time font-size-small">Москва</div>
                <div class="preview-box-platform-price font-size-small">400 <span class='rouble-icon'></span>
                    <meta content="400" itemprop="price"/>
                    <meta content="RUB" itemprop="priceCurrency"/>
                </div>
            </div>
        </div>
    </a>
</div>
